code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --dark: #1b262c;
  --mid: #0f4c75;
  --light: #bbe1fa;
  --accent: #3282b8;
}

.app {
  font-family:Arial, Helvetica, sans-serif;
  background: var(--dark);
  height: 100vh;
  padding: 30px;
}

.card {
  margin: auto;
  width: fit-content;
  background: var(--accent);
  border-radius: 10px;
  padding: 10px;
}

img {
  display: block;
  margin: auto;
  border-radius: 5px;
  display: flex;
}